<HTML>
<HEAD><TITLE>Om !!!</TITLE>
  <STYLE src="./templates/styles.css"></STYLE>
</HEAD>
{literal}
<SCRIPT language = "javascript">
function conf(bankId)
{
	if(confirm("Are You Sure You want to Delete Record?"))
			location.href="deleteBankMaster.php?bankId="+bankId;
}
</SCRIPT>
{/literal}
<BODY bgColor="TAN">
<A href="index.php">Home</A>&nbsp;&nbsp;
<A href="bankMasterAdd.php">Add</A>&nbsp;&nbsp;
<A href="mnuAccount.php">Menu</A>
	<FORM name="form1" action="bankMasterAdd.php" method="POST">
	<TABLE border="1" cellpadding="2" cellspacing="0">
    <TR>
      <TH>&nbsp;</TH>
      <TH>Bank Name</TH>
      <TH>Phone 1.</TH>
      <TH>Phone 2.</TH>
    </TR>
    <TR>
      {section name="sec1" loop=$bankId}
        <TD><A href="javascript: conf({$bankId[sec1]});">Delete</A></TD>
		    <TD>{$bankName[sec1]}</TD>
		    <TD>{$phone1[sec1]}</TD>
		    <TD>{$phone2[sec1]}</TD>
		    </TR>
      {/section}
    
  </TABLE>
</FORM>
</BODY>
</HTML>