<HTML>
<HEAD><TITLE>Om !!!</TITLE></HEAD>
<SCRIPT language="JavaScript" src="templates/date-picker.js"></script>
<SCRIPT language = "JavaScript">

</SCRIPT>
<BODY bgColor="#FFCEE7" onKeyPress="if(event.keyCode==10) document.form1.submit();">
<FORM name="form1" method="get" action="{$PHP_SELF}">
<INPUT type="hidden" name="goTo" value="{$goTo}">
<TABLE border="1" cellSpacing="0" cellPadding="2" align="center">
  <TR>
    <TD colspan="2" align="center"><B>Date Range : </B></TD>
  </TR>
  <TR>
    <TD>From : </TD>
    <TD>{html_select_date time="$fromDate" prefix="fromDate" start_year="2005" end_year="+1" month_format="%m" field_order="DMY" day_value_format="%02d"}
    </TD>
  </TR>
  <TR>
    <TD>To : </TD>
    <TD>
      {html_select_date time="$today" prefix="toDate" start_year="2005" end_year="+1" month_format="%m" field_order="DMY" day_value_format="%02d"}
    </TD>
  </TR>
  <TR>
    <TD colspan="2" align="center"><INPUT type="submit" name="submitBtn" value="Display..."></TD>
  </TR>
  <TR>
    <TD colspan="2" align="center">Ctrl+Enter To Submit!</TD>
  </TR>
</TABLE>
  <SCRIPT language="javascript">document.form1.fromDateDay.focus();</SCRIPT>
</FORM>
</BODY>
</HTML>
