<BODY bgcolor="pink">
<A href="./index.php">Home</A>&nbsp;&nbsp;
<FORM name="Form1" action="{$PHP_SELF}" method="POST">
<TABLE border="1" cellPadding="2" cellSpacing="0" align="center">
  <TR>
      <TD colspan="3"><B>Standing Date ...</B>
        Close : {html_select_date time="$standingDtCurrent" prefix="standingDtCurrent" start_year="-1" end_year="+1" month_format="%m" field_order="DMY" day_value_format="%02d"}
        Open : {html_select_date time="$standingDtNextSelected" prefix="standingDtNext" start_year="-1" end_year="+1" month_format="%m" field_order="DMY" day_value_format="%02d"}
      </TD>
  </TR>
  <TR>
		<TH>Exchange :: Item</TH>
		<TH>Expiry</TH>
		<TH>Close Rate</TH>
	</TR>
{section name=sec loop=$standingArray}
	<TR>
		<TD>{$standingArray[sec].exchange} :: {$standingArray[sec].itemId}</TD>
		<TD>{$standingArray[sec].expiryDate}</TD>
		<TD>
		  <INPUT type="text"   name="expiryId[{$standingArray[sec].expiryId}]" />
		</TD>
	</TR>
{/section}
	<TR>
		<TD colspan="3" align="center">
	    <INPUT type="submit" Value="Ok" name="submitBtn" />
	  </TD>
	</TR>

</TABLE>
</FORM>
</BODY>