<HTML>
<HEAD><TITLE>Om !!!</TITLE>
  <STYLE src="./templates/styles.css"></STYLE>
</HEAD>
<A href="bankMasterList.php">List</A>
<A href="mnuAccount.php">Menu</A>
<BODY bgColor="TAN" onLoad="document.form1.txtBankName.focus();">
	<FORM name="form1" action="bankMasterAdd.php" method="POST">
	<TABLE>
    <TR>
      <TD>Bank Name</TD>
      <TD><INPUT type="text" name="txtBankName"></TD>
    </TR>
    <TR>
      <TD>Phone 1.</TD>
      <TD><INPUT type="text" name="txtPhone1"></TD>
    </TR>
    <TR>
      <TD>Phone 2.</TD>
      <TD><INPUT type="text" name="txtPhone2"></TD>
    </TR>
    <TR>
      <TD><INPUT type="submit" name="btnSubmit" value="Submit !!"></TD>
      <TD><INPUT type="reset" name="btnReset" value="Reset"></TD>
    </TR>
  </TABLE>
</FORM>
</BODY>
</HTML>