<HTML>
<HEAD>
  <TITLE>Edit Client
  </TITLE>
</HEAD>
<script src="./js/jquery.min.js"></script>
<script language="javascript">
{literal}
function stopRKey(evt) { 
  var evt = (evt) ? evt : ((event) ? event : null); 
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
  if ((evt.keyCode == 13))  {$('input[name = submitBtn]').click();} 
} 

document.onkeypress = stopRKey; 
{/literal}
</script>
<BODY bgColor="#FFCEE7">
  <FORM name="form1" action="{$PHP_SELF}" METHOD=POST>
  <A href="./index.php">Home</A>&nbsp;&nbsp;
  <A href="./clientList.php">Client List</A>&nbsp;&nbsp;
<Center><B style="color:red;">{$message}</Center></B>
  <TABLE BORDER=1 width="100%" cellPadding="2" cellSpacing="0">
   <TR>
      <TD colspan="2">
        <select name="groupName" id="groupName">
          <option value="0">Group Name</option>
          {html_options values=$groupName output=$groupName selected=$groupIdSelected}
        </select>      	
        &nbsp;<INPUT type="hidden" name="clientBroker" value="0">
      </TD>
    </TR>
    <TR>
    <TD align="right">Client Id :</TD>
    <TD>
      <INPUT type="text" name="clientId" size="6" value="{$clientId}">
    </TD>
  </TR>
  <TR>
    <TD align="right">Deposit :</TD>
    <TD><INPUT type="text" name="deposit" value={$deposit}></TD>
  </TR>
  <TR>
    <TD align="right">Address :&nbsp;</TD>
    <TD><TEXTAREA name="address" rows=3 cols=50>{$address}</TEXTAREA></TD>
  </TR>
  <TR>
    <TD align="right">ClientName :&nbsp;</TD>
    <TD>
    <TEXTAREA name="firstName" rows=3 cols=50>{$firstName}</TEXTAREA>
    </TD>
  </TR>
  
  <TR><TD align=center colspan="2"><h4>Brokerage...</TD></TR>
  <tr>
    <td align=center colspan="2">
       <select name="exchange_name" id="exchange_name">
         <option value="0" >Exchange</option>
         {html_options values=$exchange_Array.exchangeName output=$exchange_Array.exchangeName selected=$sel_exchange}
        </select>
        <input type="submit" name="go" class="newGoBtn" value="Submit">
    </td>
    </tr>
  <TR>
  	<TD>&nbsp;</TD>
  	<TD valign="bottom">
  		<b>One Side Brok</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		<b>Brok 1</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  		<b>Brodk 2</b> &nbsp;&nbsp;&nbsp;
  	</TD>
  <TR>
{section name=sec1 loop=$i}
  <TR>
    <TD>{$exchange[sec1]} :: {$itemName[sec1]}</TD>
    <TD>
    	<INPUT type="hidden" name="itemName[{$itemName[sec1]}]" size="15" value="{$itemName[sec1]}" />
    	<INPUT type="text" name="oneSideBrok[{$itemName[sec1]}]" size="15" value="{$oneSideBrok[sec1]}" />
    	<INPUT type="text" name="brok1[{$itemName[sec1]}]" size="8" value="{$brok1[sec1]}" />
    	<INPUT type="text" name="brok2[{$itemName[sec1]}]" size="8" value="{$brok2[sec1]}" />
    </TD>
  </TR>
{/section}   
  <TR>
    <TD><INPUT type="submit" name="submitBtn" value="Submit me!"></TD>
    <TD><INPUT type="reset" value="Reset"></TD>
  </TR>
  </TABLE>
    <SCRIPT language="javascript">document.form1.firstName.focus();</SCRIPT>
  </FORM>
</BODY>
</HTML>