{include file="headerMain.tpl"}
	<FORM name="form1" action="deleteAll.php" method="POST">
	<TABLE>
    <TR>
      <TD align="right">Client : </TD>
      <TD>
      	<select name="clientId">
      		<option value="0">ALL</option>
      		{section name="sec1" loop=$i}
      			<option value="{$clientId[sec1]}">{$name[sec1]}</option>
      		{/section}
      	</select>
      </TD>
    </TR>
    <TR>
      <TD align="right">From Date : </TD>
      <TD>{html_select_date prefix="fromDate" start_year="+2" end_year="-2" field_order="dmy"}</TD>
      <TD align="right">&nbsp;&nbsp;&nbsp;To Date : </TD>
      <TD>{html_select_date prefix="toDate" start_year="+2" end_year="-2" field_order="dmy"}</TD>
    </TR>
    <TR>
      <TD align="right">Item : </TD>
      <TD>
      	<select name="itemId">
      		<option value="All">ALL</option>
      		{section name="sec2" loop=$j}
      			<option value="{$itemId[sec2]}">{$itemName[sec2]}</option>
      		{/section}
      	</select>
      </TD>
    </TR>
    <TR>
    	<TD align="right">Standing : </TD>
    	<TD>
    	  <INPUT type="checkbox" name="trades" value="0" CHECKED>Trades&nbsp;&nbsp;&nbsp;&nbsp;
    	  <INPUT type="checkbox" name="open" value="-1" CHECKED>Open&nbsp;&nbsp;&nbsp;&nbsp;
    	  <INPUT type="checkbox" name="close" value="1" CHECKED>Close
    	</TD>
    </TR>
    <TR>
    	<TD></TD>
    	<TD><INPUT type="submit" name="btnSubmit" value="Go !!"></TD>
    </TR>
    	
  </TABLE>
</FORM>
{include file="footer1.tpl"}
