<HTML>
<HEAD><TITLE>Om !!! Brokerage Detail</TITLE>
{literal}
<SCRIPT language = "javascript">
function conf(expiryId)
{
	if(confirm("Are You Sure You want to Delete Record?"))
			location.href="expiryDelete.php?expiryId="+expiryId;
	else
  		location.href="expiryList.php";
}
</SCRIPT>
{/literal}
</HEAD>
<BODY bgColor="#FFCEE7">
<A href="./index.php">Home</A>&nbsp;&nbsp;&nbsp;&nbsp;
<A href="./expiryEntry.php">Add Expiry</A>
<FORM name="form1" action="" METHOD="POST" accept-charset="utf-8">
<TABLE BORDER=1 cellSpacing="0" cellPadding="3">
  <TR>
    <TD colspan="3" align="center"><B>Exchange : </B>
			<select name="mcxCombo" id="mcxCombo" onchange="document.form1.submit();">
			  {html_options values=$mcxValuesArr output=$mcxOutputArr selected=$mcxComboSelected}
			</select>     	
    </TD>
  </TR>
  
  <TR>
    <TD><B>Item</B></TD>
    <TD><B>ExpiryDate</B></TD>
    <TD><B>Delete</B></TD>
  </TR>  

  {section name=sec1 loop=$i}
    <TR>
      <TD>{$itemName[sec1]}</TD>
      <TD>{$expiryDate[sec1]}</TD>
      <TD><A href="javascript: conf({$expiryId[sec1]});">Delete</A></TD>
    </TR>
  {/section}
</TABLE>
</FORM>
</BODY>
</HTML>