<BODY bgColor="#FFCEE7">
<A href="./index.php">Home</A>
<A href="./groupEntry.php">Add Group</A>
<form name="grouplist" id="grouplist" action="{$smarty.server.PHP_SELF}" method="post">
<table border='1' cellpadding='2' cellspacing='0' align='center'>
<tr>
  <th colspan='3' align='center'>Group List</th>
</tr>
<tr>
	<td  class="table1" align='center' ><b>&nbsp;</b></td>
	<td  class="table1" align='center' ><b>&nbsp;</b></td>
	<td  class="table1" align='center' ><b>Group Name</b></td>
</tr>
<tr>
{section name="sec" loop=$groupArray}
</tr>
<tr>
		<td class="table2" align="center">
		<a href="groupEntry.php?groupId={$groupArray[sec].groupId}" class="link" >Edit</a>
	</td>
	<td class="table2" align="center">
    <a href="groupDelete.php?groupId={$groupArray[sec].groupId}" class="link" onclick="return confirm('Are You Sure?');">Delete</a>			
	</td>
	<td class="table2" align="left">{$groupArray[sec].groupName}</td>
</tr>
{sectionelse}
  <tr><td colspan='3'><h2><font color="red">{$msg}</font></h2></td></tr>
{/section}
</table>
</form>