<form name="form1" action="{$smarty.server.PHP_SELF}" id="form1" method="post">
<table align="center" border="1" cellpadding="2" cellspacing="1" >
<tr>
  <th align="center" class="table1" colspan="2">Group Entry</th>
</tr>
<tr>
  <td align="right">Group Name</td>
  <td><input type="text" name="groupName"></td>
</tr>
<tr>
<td align="center" colspan="2"><input type="submit" name="insertBtn" value="Submit" class="button" /></td>
</tr>
</table>
<script language="javascript">document.form1.groupName.focus();</script>
