<TABLE cellPadding="8" cellspacing="0" border="1">
<TR bgcolor="#ffff99" style="font-weight:bold">
  <TD><h3><b>MCX : &nbsp;&nbsp;</b></h3></TD>
  <TD><A href='brokerage.php'>Item List</A></TD>
  <TD>
  	<A href='' onClick="tradeWindow=window.open('tradeAdd3.php', 'tradeWindow','toolbar=no, location=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=950, height=130, left=1, top=300'); return false;">Add Trade</A>
  	<br />
  	<br />
  	<A href='' onClick="tradeWindow=window.open('tradeAddVir.php?exchange=MCX', 'tradeWindow','toolbar=no, location=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1050, height=130, left=1, top=300'); return false;">New Trade</A>
  	<br />
  	<br />
  	<A href='' onClick="limitWindow=window.open('tradeAdd3limit.php', 'limitWindow','toolbar=no, location=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=900, height=130, left=1, top=300'); return false;">Limits</A>
    <br />
  	<br />
    <A href='' onClick="limitWindow=window.open('tradeAdd3color.php', 'limitWindow','toolbar=no, location=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=900, height=130, left=1, top=300'); return false;">Set Color</A>
  </TD>
  <!--TD><A href="txtFile.php">SubmitTWS</A></TD-->
  <TD NOWRAP>
    <A href='clientTrades.php'>Trades</A>&nbsp;&nbsp;
	<A href='tradeReport.php'>Trades Report</A>&nbsp;&nbsp;
	<A href='clientTrades-vijay.php'>Trades-Current</A>&nbsp;&nbsp;
    
    <A href='clientTrades.php?display=tradesPrint'>Print</A> &nbsp;&nbsp; 
	<A href='clientTrades.php?display=gross'>Gross</A> &nbsp;&nbsp; 
	<!--<A href='clientTrades_os.php?display=gross'>Gross1</A> &nbsp;&nbsp; -->
	<A href='print_os.php' target="_blank">print(OS)</A> &nbsp;&nbsp; 
	
  </TD>
  <TD>
    <A href="orderList.php">Order List</A>
  </TD>
  <TD>
    <A href='highLowViewMcx.php'>High/Low Mcx</A>
  </TD>
  <TD>
    <A href='attachNameToTxtDataAll.php'>Change Name MCX</A><br />
  </TD>
  <TD><A href='mnuAccount.php'>Money Transactions</A></TD>
</TR>
<TR bgcolor="#87CEFA" style="font-weight:bold">
  <TD><h3><b>COMEX : &nbsp;&nbsp;</b></h3></TD>
  <TD><A href='expiryList.php'>Expiry Dates</A></TD>
  <TD>
  	<A href='' onClick="comexWindow=window.open('tradeAdd3cx.php', 'comexWindow','toolbar=no, location=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1400, height=180, left=1, top=300'); return false;">Add Trade</A>
  	<br />
  	<br />
  	<A href='' onClick="comexWindow=window.open('tradeAddLimitcx.php', 'comexLimitWindow','toolbar=no, location=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=900, height=180, left=1, top=300'); return false;">Limits</A>
    <br />
  	<br />
    <A href='' onClick="limitWindow=window.open('tradeAdd3cxcolor.php', 'limitWindow','toolbar=no, location=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=900, height=130, left=1, top=300'); return false;">Set Color</A>
  </TD>
  <TD><A href='./clientTradesComex.php'>Trades</A>&nbsp;&nbsp;
  <A href='clientTrades-vijay.php?ex=cmx'>Trades-Current Comex</A>&nbsp;&nbsp;
    <A href='clientTradesComex.php?display=tradesPrint'>Print</A> &nbsp;&nbsp;
	<A href='clientTradesComex.php?display=gross'>Gross</A>&nbsp;&nbsp;
	<A href='clientTradesComex_os.php?display=gross' target='_blank'>Gross1</A> &nbsp;&nbsp; 
	<A href='print_os.php' target="_blank">print(OS)</A> &nbsp;&nbsp; 
	</TD>
  <!--TD><A href="txtFileOdin.php">Odin</A></TD>
  <TD>
    <TABLE border="0" cellspacing="0" cellPadding="0" width="100%">
    <TR><TD><A href='clientTradesLot2Side.php'>Trades 2Side</A>&nbsp;&nbsp;</TD>
        <TD align="right"><A href='clientTradesLot2Side.php?display=tradesPrint'>Print</A> &nbsp;&nbsp; <A href='clientTradesLot2Side.php?display=gross'>Gross</A></TD></TR>
    </TABLE>
  </TD-->
  <TD>
    <A href="./orderListComex.php">Order List Comex</A>
  </TD>
  <TD><A href='highLowViewCx.php'>High/Low Comex</A></TD>
  <TD>
  	<A href='attachNameToTxtDataAllCx.php'>Change Name COMEX</A>
  </TD>
  <TD>&nbsp;</TD>
</TR>
<TR bgcolor="#ffddbb" style="font-weight:bold">
	<td><h3><b>SHARE : </b></h3></td>
  <TD>&nbsp;</TD>
	<TD><A href="" onClick="tradeWindow=window.open('share2/addTrade.php?exchange=F_O', 'tradeWindow','toolbar=no, location=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1300, height=150, left=1, top=300'); return false;">Add Trade</A></TD>
  <TD>
	<A href="share2/clientTradesPer2side2fo.php">Trades</A>&nbsp;&nbsp;&nbsp;
	<!--<A href="share2/mnuStand.php">Settalment Standing</A>&nbsp;&nbsp;&nbsp;-->
	<A href="share2/brokerage.php">Items</A>&nbsp;&nbsp;&nbsp;
	<A href="share2/expiryList.php">Expiry Dates</A>&nbsp;&nbsp;&nbsp;
	<A href="share2/addTradecolor.php">Set Color</A>&nbsp;&nbsp;&nbsp;
	<br><br><br>
	<A href="share2/writeTradesFile.php">Online Backup</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<A href="share2/backup.php">Backup</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<A href="share2/selectDtSession.php">Date Range</A>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </TD>
  
  <TD>&nbsp;</TD>
  <!--TD><A href="attachNameToTxtData.php">PendingTrade</A></TD>
  <TD>
    <TABLE border="0" cellspacing="0" cellPadding="0" width="100%">
    <TR><TD><A href='clientTradesPer1side.php'>Trades %1Side</A>&nbsp;&nbsp;</TD>
        <TD align="right"><A href='clientTradesPer1side.php?display=tradesPrint'>Print</A> &nbsp;&nbsp;
		<A href='clientTradesPer1side.php?display=gross'>Gross</A>
		
		
		</TD></TR>
    </TABLE>
  </TD-->
  <!--<TD rowspan="2" align="center">Vendor <BR>
    <A href="vendorTrades.php">1 Side</A><BR>
    <A href="vendorTradesHalfSide.php">1/2 Both Side</A
  </TD>-->
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  
<!--  <TD><A href='settings.php'>Settings</A></TD>-->
</TR>

<tr style="font-weight:bold">
	<TD>
    <A href='groupList.php'>Group List</A><br /><br />
    <A href='clientList.php'>Client List</A>
  </TD>
  <td>&nbsp;</td>
  <TD><A href="mnuStand.php">Standing</A></TD>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <TD><A href='clientTrades.php?display=openStand'>Open Stand</A></TD>
  <TD><A href='clientTrades.php?display=itemWiseGross'>Item Gross</A></TD>
  <td>&nbsp;</td>
</tr>
<TR style="font-weight:bold">
  <!--TD><A href="takeMCXTrades.php">TWS</A></TD-->
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <td>&nbsp;</td>
  
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  
</TR>
<TR style="font-weight:bold">
  <!--TD><A href="takeODINTrades.php">ODIN</A></TD-->
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD><A href='clientTrades.php?display=closeStand'>Close Stand</A></TD>
  <TD><A href='clientTrades.php?display=itemPending'>Item Pending</A></TD>
  <td>&nbsp;</td>
</TR>
<TR style="font-weight:bold">
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>
    <A href="writeTradesFileMcx.php">Online Backup MCX</A><br />
    <A href="writeTradesFileComex.php">Online Backup Comex</A><br />
    <A href="writeTradesFileMoney.php">Online Backup Money</A>
  </TD>
  <TD>
    <A href="storetradeTxt.php">Restore Online Backup MCX</A><br />
    <A href="storetradeTxtCx.php">Restore Online Backup Comex</A><br />
    <A href="storetradeTxtMoney.php">Restore Online Backup Money</A>    
  </TD>
  <TD>&nbsp;</TD>
  <TD><A href='clientTrades.php?display=openColoseStand'>Open & Close</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR style="font-weight:bold">
  <TD><A href="selectDtSession.php">Date range</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <td>&nbsp;</td>
</TR>
<TR style="font-weight:bold">
  <TD><A href="tradeListForCrossChecking.php">Confirm Old</A></TD>
  <TD>
    <A href="deleteMCX.php">Delete MCX</A><br />
    <A href="deleteCx.php">Delete COMEX</A><br />
    <A href="share2/deleteF_O.php">Delete F_O</A>
  </TD>
  <TD>&nbsp;</TD>
  <TD><A href="../pma/db_details_export.php?lang=en-utf-8&server=1&collation_connection=utf8_general_ci&db=omvir&goto=db_details_export.php&selectall=1">Backup</A></TD>
  <!--TD><A href="extraMenu.php">Extra Menu</A></TD-->
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD><A href="links.php">Useful Links</A></TD>
  <td>&nbsp;</td>
</TR>
<TR style="font-weight:bold">
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD><A href='clientTrades.php?display=detailed'>Detailed Trades</A></TD>
  <TD><A href='clientTrades.php?display=noInnerStand'>No Inner Stand</A></TD>
  <!--TD>
    <TABLE border="0" cellspacing="0" cellPadding="0" width="100%">
    <TR><TD><A href='clientTradesPer2side.php'>Trades %2Side</A>&nbsp;&nbsp;</TD>
        <TD align="right"><A href='clientTradesPer2side.php?display=tradesPrint'>Print</A> &nbsp;&nbsp;<A href='clientTradesPer2side.php?display=gross'>Gross</A></TD></TR>
    </TABLE>
  </TD-->
  <TD><A href='goldSilverCalcJs.php'>Calculator1</A></TD>
  <TD><A href='calc.php'>Calculator2</A></TD>
  <TD><a href="signout.php">Sign Out</a></TD>
  <TD>&nbsp;</TD>
</TR>
<TR style="font-weight:bold">
<TD><a href="logView.php">View Log</a></TD>
<TD colspan="7"><a href="changePassword.php">Change Password</a></TD>
</TR>
</TABLE>
