<HTML>
<HEAD><TITLE>Om MCX !!</TITLE>
</HEAD>
<BODY>
<TABLE width="100%" border="0" cellspacing="0" cellpadding="0">
<TR>
  <TD>
<link rel="stylesheet" href="style.css" type="text/css">
<TABLE width="100%" border="0" cellspacing="0" cellpadding="0">
  <TR> 
    <TD>
      <TABLE width="100%" border="0" cellspacing="0" cellpadding="0">
        <TR> 
          <!-- <TD align="left">&nbsp;&nbsp;&nbsp;{$headMenu}</TD> -->
          <TD vAlign="top" align="right">
          	
            <A href="./index.php">Home</A> &nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <A href="./logout.php">Logout</A> &nbsp;&nbsp;&nbsp;&nbsp; -->
            <!-- <B>User : {$userName} </B> -->
          </TD>
        </TR>
        <TR> 
          <TD colspan="2" class="bannerBg" vAlign="middle" align="center"><FONT size="5" color="#FFFFFF">!! &#2384; !! J & M Company !! </FONT></TD>
        </TR>
        <TR> 
          <TD colspan="2" height="14">
            <TABLE width="100%" border="0" cellspacing="0" cellpadding="10">
              <TR> 
                <TD align="center" class="bg"> 
                  <TABLE width="90%" border="0" cellspacing="0" cellpadding="5" align="center">
                    <TR align="center"> 
                      <TD> 
                        <TABLE width="100%" border="0" cellspacing="0" cellpadding="20" class="dataBorder">
                          <TR> 
                            <TD align="left">
