
<TABLE cellPadding="8" cellspacing="0" border="1">
<TR>
  <TD><A href='brokerage.php'>Item List</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href="txtFile.php">SubmitTWS</A></TD>
  <TD>
    <TABLE border="0" cellspacing="0" cellPadding="0" width="100%">
    <TR><TD><A href='clientTrades.php'>Trades</A>&nbsp;&nbsp;</TD>
<!--    <A href='clientTrades2Side.php'>2</A>
    &nbsp;&nbsp;-->
        <TD align="right"><A href='clientTrades.php?display=tradesPrint'>Print</A> &nbsp;&nbsp; <A href='clientTrades.php?display=gross'>Gross</A></TD></TR>
          
    </TABLE>
  </TD>
  <TD><A href='clientTrades.php?display=detailed'>Detailed Trades</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href='mnuAccount.php'>Money Transactions</A></TD>
</TR>
<TR>
  <TD><A href='expiryList.php'>Expiry Dates</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href="txtFileOdin.php">Odin</A></TD>
  <TD>
    <TABLE border="0" cellspacing="0" cellPadding="0" width="100%">
    <TR><TD><A href='clientTradesLot2Side.php'>Trades 2Side</A>&nbsp;&nbsp;</TD>
        <TD align="right"><A href='clientTradesLot2Side.php?display=tradesPrint'>Print</A> &nbsp;&nbsp; <A href='clientTradesLot2Side.php?display=gross'>Gross</A></TD></TR>
    </TABLE>
  </TD>
  <TD><A href='clientTrades.php?display=noInnerStand'>No Inner Stand</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD><A href='clientList.php'>Client List</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href="attachNameToTxtData.php">PendingTrade</A></TD>
  <TD>
    <TABLE border="0" cellspacing="0" cellPadding="0" width="100%">
    <TR><TD><A href='clientTradesPer1side.php'>Trades %1Side </A>&nbsp;&nbsp;</TD>
        <TD align="right"><A href='clientTradesPer1side.php?display=tradesPrint'>Print</A> &nbsp;&nbsp; <A href='clientTradesPer1side.php?display=gross'>Gross</A></TD></TR>
    </TABLE>
  </TD>
  <TD rowspan="2" align="center">Vendor <BR>
    <A href="vendorTrades.php">1 Side</A><BR>
    <A href="vendorTradesHalfSide.php">1/2 Both Side</A>
  </TD>
  <TD>&nbsp;</TD>
  <TD><A href='goldSilverCalcJs.php'>Calculator1</A></TD>
<!--  <TD><A href='settings.php'>Settings</A></TD>-->
</TR>
<TR>
  <TD><A href="vendorList.php">Vendor List</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href='attachNameToTxtDataAll.php'>Change Name</A></TD>
  <TD>
    <TABLE border="0" cellspacing="0" cellPadding="0" width="100%">
    <TR><TD><A href='clientTradesPer2side.php'>Trades %2Side</A>&nbsp;</TD>
        <TD align="right"><A href='clientTradesPer2side.php?display=tradesPrint'>Print</A> &nbsp;&nbsp;<A href='clientTradesPer2side.php?display=gross'>Gross</A></TD></TR>
    </TABLE>
  </TD>
  <TD>&nbsp;</TD>
  <TD><A href='calc.php'>Calculator2</A></TD>
</TR>
<TR>
  <TD><A href="takeMCXTrades.php">TWS</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href='tradeAdd.php'>Add Trade</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href='clientTrades.php?display=openStand'>Open Stand</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href='clientTrades.php?display=itemWiseGross'>Item Gross</A></TD>
</TR>
<TR>
  <TD><A href="takeODINTrades.php">ODIN</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href="mnuStand.php">Standing</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href='clientTrades.php?display=closeStand'>Close Stand</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href='clientTrades.php?display=itemPending'>Item Pending</A></TD>
</TR>
<TR>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD><A href='clientTrades.php?display=openColoseStand'>Open & Close</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD><A href="selectDtSession.php">Date range</A></TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
  <TD>&nbsp;</TD>
</TR>
<TR>
  <TD><A href="tradeListForCrossChecking.php">Confirm</A></TD>
  <TD><A href="deleteAll.php">DeleteAll</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href="http://localhost/pma/db_export.php?db=ommcx&token=16d504367e7b6f165b34e9c3d7038d1f&goto=db_export.php">Backup</A></TD>
  <TD><A href="extraMenu.php">Extra Menu</A></TD>
  <TD>&nbsp;</TD>
  <TD><A href="links.php">Useful Links</A></TD>
</TR>
</TABLE>
