<HTML>
<HEAD><TITLE>Om !!! Standing</TITLE></HEAD>
<BODY bgColor="#FFCEE7">
<FORM name="standing" method="post" action="standingStoreCx.php">
<A href="index.php">Home</A> <BR><BR>
<TABLE BORDER=1 cellSpacing="0" cellPadding="2" align="center">
<TR>
    <TD colspan="3"><B>Standing Date ...</B>
    Close : {html_select_date time="$standingDtCurrent" prefix="standingDtCurrent" start_year="-1" end_year="+1" month_format="%m" field_order="DMY" day_value_format="%02d"}
    Open : {html_select_date time="$standingDtNext"    prefix="standingDtNext"    start_year="-1" end_year="+1" month_format="%m" field_order="DMY" day_value_format="%02d"}</TD>
</TR>
<TR>
    <TD>&nbsp;</TD>
    <TD colspan="2">
    {$standingDtCurrentDDMMYYYY} : {$standingDtCurrentWeekDay}
    {$standingDtNextDDMMYYYY} : {$standingDtNextWeekDay}
    </TD>
</TR>
<TR>
    <TD>&nbsp;</TD>
    <TD>&nbsp;</TD>
    <TD>Standing Amount</TD>
</TR>
{section name=sec1 loop=$itemIdArray}
<TR>
  <TD align="center">{$itemIdArray[sec1]}</TD>
  <TD>{$expiryDateArray[sec1]}</TD>
  <TD><INPUT type="text" name="{$itemIdExpiryDateNameArray[sec1]}"></TD>
</TR>
{/section}
<TR>
  <TD>&nbsp;</TD>
  <TD><INPUT type="submit" name="submitBtn" value="Ok!"></TD>
</TR>
</TABLE>
<SCRIPT language="javascript">document.standing.standingDtCurrentDay.focus();</SCRIPT>
</FORM>
</BODY>
</HTML>
