<HTML>
<HEAD><TITLE>MCX Color</TITLE>
<style>
{literal}
td { font-color="white";FONT-SIZE: 16px; font-family:arial }
th { FONT-SIZE: 16px; font-family:arial }
.bluetd{ color:blue; font-weight:bold; }
.redtd{ color:red; font-weight:bold; }
input {FONT-SIZE: 15px; font-weight: bold;}
select {FONT-SIZE: 15Px; font-weight: bold; }
{/literal}
</style>
<script src="./js/jquery.min.js"></script>
<script type="text/javascript" src="js/jscolor.js"></script>
</HEAD>
<BODY>
<span><a href="index.php">Home</a> </span>
  <FORM name="form1" action="{$PHP_SELF}" METHOD="post">
      <strong style="font-size:16px;">Buy :</strong> 
      <input class="jscolor"  name="buy_color" value="{$buycolor}" id="buy_color" />
      <strong style="font-size:16px;">Sell :</strong> 
      <input class="jscolor" name="sell_color" value="{$sellcolor}" id="sell_color" />
      <INPUT type="submit" name="colorBtn" value="Submit" >
      <BR>
  </FORM>
</BODY>
</HTML>