<HTML>
<BODY>
<FORM action="{$PHP_SELF}" method="POST" name="form1">
<table>
 <tr>
  <td>Member Name:</td>
  <td><INPUT type="text" name="txtmember"></td>
 </tr>
<tr>
 <td>Vendor Name:</tr>
 <td><INPUT type="text" name="txtvendor"></td>
</tr>
</table>
<INPUT type="submit" name="btnsubmit" value="Submit me!">
</BODY>
</HTML>