<HTML>
<HEAD><TITLE>Om !!! Add Trade</TITLE>
  {literal}
<STYLE type="text/css">
.body
{
  color:White;
}
</STYLE>
<SCRIPT language="javascript">
window.name = 'displayAll';
function change()
 {
  var select1value= document.form1.itemId.value;
  {/literal}
   {section name=sec1 loop=$k}
    if( select1value=="{$itemId[sec1]}")
  	{literal}{{/literal}
    {literal}
      document.form1.qty.value={/literal}{$min[sec1]}{literal}
    }
      {/literal}
  {/section}
 }
{literal}

function changePrice(thePriceObject)
{
  var price;
  price = parseFloat(thePriceObject.value);
  if(parseFloat(price) || price==0)   //parseFloat does not consider 0, so we have put 0 in or condition
  {
    if(event.keyCode==38)
      price=price+1;
    if(event.keyCode==33)
      price=price+10;
    if(event.keyCode==40)
      price=price-1;
    if(event.keyCode==34)
      price=price-10;
    if(thePriceObject.value != price)
      thePriceObject.value = price;
  }
}
function itemFromPrice()
{
  var price;
  price = parseFloat(document.form1.price.value);
{/literal}
{$itemFromPriceJS}
{literal}
}

function changeQty()
{
  {/literal}
  var minQty = {$minQty};
  {literal}
  var qty;
  qty = parseFloat(document.form1.qty.value);
  if(parseFloat(qty) || qty==0)   //parseFloat does not consider 0, so we have put 0 in or condition
  {
    if(event.keyCode==38)
      qty=qty+minQty;
    if(event.keyCode==33)
      qty=qty+minQty*5;
    if(event.keyCode==40)
      qty=qty-minQty;
    if(event.keyCode==34)
      qty=qty-minQty*5;
    if(document.form1.qty.value != qty)
      document.form1.qty.value = qty;
  }
}
function changeBuySale()
{
  if(event.keyCode == 119 || event.keyCode==107)
  {
    document.form1.buySell.value = "Buy";
    return false;
  }
  if(event.keyCode == 120 || event.keyCode==109)
  {
    document.form1.buySell.value = "Sell";
    return false;
  }
  return true;
}
function checkBuySell()
{
  if(document.form1.buySell.value == "Buy" || document.form1.buySell.value == "Sell" )
  {}
  else
    document.form1.buySell.value = document.form1.beforeBuySell.value;
}

function bodyKeyPress()
{ 
  if(event.keyCode==107)
  {
    window.document.bgColor="blue";
  }
  else if(event.keyCode==109)
  {
    window.document.bgColor="red";

  }
  if(event.keyCode==117)
  {
    orderListWindow = window.open('orderList.php?listOnly=1', 'orderListWindow',
                          'toolbar=no, location=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=775, height=260, left=1, top=250');
  }
  if(event.keyCode==119)
  {
    tradeListWindow = window.open('clientTradesMcx.php', 'tradeListWindow',
                          'toolbar=no, location=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=775, height=260, left=1, top=250');
  }
  if(event.keyCode == 13) 
  {
    if(event.ctrlKey)
    {
      if(confirm("Save As RL?"))
      {
        document.form1.makeTrade.value=2;
        document.form1.submitBtnRl.click();
        return true;
      }
    }
    else if(event.shiftKey)
    {
      if(confirm("Save As SL?"))
      {
        document.form1.makeTrade.value=3;
        document.form1.submitBtnSl.click();
        return true;
      }
    }
    else
    {
      if(confirm("Save As Trade?"))
      {
        document.form1.makeTrade.value=1;
        return true;
      }
    }
  }
  return changeBuySale();
}

function checkButton(a)
{
	if(a =='submitBtnRl')
	{
	  if(confirm('Save As RL?'))
	  {
  		document.form1.makeTrade.value=2;
	  	return true;
	  }
	}
	else if(a == 'submitBtnSl')
	{
	  if(confirm('Save As SL?'))
	  {
  		document.form1.makeTrade.value=3;
	  	return true;
	  }
	}
	else
	{
	  if(confirm('Save As Trade?'))
	  {
  		document.form1.makeTrade.value=1;
	  	return true;
	  }
	}
}

function askConfirmOk()
{
  if(!document.form1.expiryDate)
  {
    alert("Please Select Item");
    document.form1.itemId.focus();
  }
  else
    return false;
}
function changeItem(str)
{
  var url="ajxExpiryCombo.php";
  url=url+"?q="+str;
  http1.open("GET",url,true);
  http1.onreadystatechange = handleHttpResponse1;
  http1.send(null);
  change();
}
function saveRecord()
{
  var sIdmakeTrade = document.getElementById("makeTrade").value;
  var sIdday = document.getElementById("fromDateDay").value;
  var sIdmonth = document.getElementById("fromDateMonth").value;
  var sIdyear = document.getElementById("fromDateYear").value;
  var sIdclientId = document.getElementById("clientId").value;
  var sIdprice = document.getElementById("price").value;
  var sIdprice2 = document.getElementById("price2").value;
  var sIditemId = document.getElementById("itemId").value;
  var sIdexpiryDate = document.getElementById("expiryDate").value;
  var sIdbuySell = document.getElementById("buySell").value;
  var sIdqty = document.getElementById("qty").value;
  var sIdclientId2 = document.getElementById("clientId2").value;
  var sIdvendor = document.getElementById("vendor").value;
  
  var now = new Date();
  var hour = now.getHours();
  if (hour < 10)
    hour = '0'+hour;
  var minute = now.getMinutes();
  var second = now.getSeconds();
  var sTime = hour + ":" + minute + ":" + second;
	var url = "ajxStoreLimitTradeMcx1.php";
	var params = "makeTrade="+escape(sIdmakeTrade)
	            +"&tradeDay="+escape(sIdday)
              +"&tradeMonth="+escape(sIdmonth)
              +"&tradeYear="+escape(sIdyear)
              +"&clientId="+escape(sIdclientId)
              +"&price="+escape(sIdprice)
              +"&price2="+escape(sIdprice2)
              +"&itemId="+escape(sIditemId)
              +"&expiryDate="+escape(sIdexpiryDate)
              +"&buySell="+escape(sIdbuySell)
              +"&qty="+escape(sIdqty)
              +"&clientId2="+escape(sIdclientId2)
              +"&vendor="+escape(sIdvendor)
              +"&sTime="+escape(sTime);
  http.open("POST",url,true);
	http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	http.setRequestHeader("Content-length", params.length);
	http.setRequestHeader("Connection", "close");
	http.send(params);
	http.onreadystatechange = handleHttpResponse;
	//var sIdprice = document.getElementById("price").value = "";
	document.form1.clientId.focus();
}

	// End Using Post Method.
		function getHTTPObject()
		{
		  var xmlhttp;
			  if(window.XMLHttpRequest)
			  {	xmlhttp = new XMLHttpRequest(); }
  			  else if (window.ActiveXObject)
			  {		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    		   		if (!xmlhttp) {
        				xmlhttp=new ActiveXObject("Msxml2.XMLHTTP"); }
			  }
   		  return xmlhttp;
		}
	{/literal}
	var http = getHTTPObject(); // We create the HTTP Object

  {literal}
	function handleHttpResponse()
	{
		if (http.readyState == 4 || http.readyState == 'complete')
		{
			if(http.status==200)
			{
				var results=http.responseText;
			}
		}
	}
{/literal}
var http1 = getHTTPObject();
{literal}
	function handleHttpResponse1()
	{
		if (http1.readyState == 4 || http1.readyState == 'complete')
		{
			if(http1.status==200)
			{
				results1 = http1.responseText;
				document.getElementById('expiryDate1').innerHTML = results1;
			}
		}
	}

{/literal}

</SCRIPT>
</HEAD>
{literal}
<BODY bgColor="blue" onKeyDown="return bodyKeyPress(); " class="body" onLoad="change();">
{/literal}
  <A href="./index.php"><FONT color="white">Home</FONT></A>
  <FORM name="form1" action="{$PHP_SELF}" METHOD="post">
  <INPUT type="hidden" name="changedField" >
  <INPUT type="hidden" name="makeTrade" value="0">
  <INPUT type="hidden" name="forStand" value="{$forStand}">
  <TABLE BORDER=1 cellPadding="2" cellSpacing="0">
  <TR>
    <TD>
      <SELECT name="clientId">
        {html_options selected="$clientIdSelected" values="$clientIdValues" output="$clientIdOutput" }
      </SELECT>
    </TD>
    <TD  >Date : 
    {html_select_date prefix="fromDate" start_year=-5 end_year=+2 day_value_format="%02d" month_value_format="%m" month_format="%b" field_order="DMY"}
    </TD>
    <TD colspan="2" NOWRAP>
      Price : <INPUT size="10" type="text" name="price" value="{$lastPrice2}"  onKeydown="changePrice(this);" onBlur="document.form1.price2.value=this.value; itemFromPrice(); changeItem(document.form1.itemId.value);">&nbsp;&nbsp;&nbsp;
    </TD>
    <TD>
      Price2 : <INPUT size="10" type="text" name="price2" value="{$lastPrice2}" onKeydown="changePrice(this);">&nbsp;&nbsp;&nbsp;
    </TD>
  </TR>
  <TR>
    <TD>

      <INPUT type="hidden" name="beforeBuySell" value="Buy">
      <INPUT type="text" name="buySell" value="Buy" size="8"
        onFocus="document.form1.beforeBuySell.value=document.form1.buySell.value;"
        onChange="checkBuySell();" DISABLED >
        <SELECT name="itemId" onChange="changeItem(this.value);">
          {html_options values="$itemIdValues" output="$itemIdOutput"}
      </SELECT>
   </TD>
   <TD>
      <div id="expiryDate1"> </div>
   </TD>
   <TD >
    Quantity : <INPUT type="text" name="qty" value="{$minQty}" onKeyDown="changeQty();">&nbsp;&nbsp;&nbsp;
    </TD>
  </TR>
  <TR>
{if $forStand == 1}
    <TD>
      <INPUT type="radio" name="standing" value="-1"> Open Standing
      <INPUT type="radio" name="standing" value="1"> Close Standing
    </TD>
{/if}
    <TD colspan="6">
    	Client 2 :
      <SELECT name="clientId2" >
      {html_options selected="$clientId2Selected" values="$clientId2Values" output="$clientId2Output" }
      </SELECT>
      <INPUT type="hidden" name="vendor" value="_SELF">
    </TD>
  </TR>
  <TR>
    <TD colspan="6">
      <INPUT type="button" name="submitBtnRl" value="RL" onClick="checkButton(this.name);">
      <INPUT type="button" name="submitBtnSl" value="SL" onClick="checkButton(this.name);">
      <INPUT type="button" name="submitBtn" value="Trade" onClick="checkButton(this.name);">
       &nbsp;&nbsp;&nbsp;&nbsp;<B>Ctrl + Enter => RL ## Shift + Enter => SL ## Enter => Trade

    </TD>
  </TR>
  </TABLE>
  </FORM>
  
<SCRIPT language="javascript">
  document.form1.clientId.focus();
</SCRIPT>
</BODY>
</HTML>