{literal}
<script language="javascript">
function emailMatch()
{
  if(document.form1.newPassword.value != document.form1.confNewPassword.value)
  {
    alert("Email MitchMatch!!!!!");
    document.form1.confNewPassword.value="";
    document.form1.newPassword.focus();
  }
}
</script>
{/literal}  
<BODY bgColor="#FFCEE7">
<FORM name="form1" action="" method="POST">
<center><A href="./index.php">Home</A>&nbsp;&nbsp;&nbsp;&nbsp;
  <center><font color='red'>{$msg}</font></center>
<TABLE border="1" cellpadding="2" cellspacing="0" align="center">
<TR>
  <TD align="right">Old Password : </TD>
  <TD align="right"><INPUT type="password" name="oldPassword" /></TD>
</TR>
<TR>
  <TD align="right">New Password : </TD>
  <TD align="right"><input type="password" name="newPassword" /></TD>
</TR>
<TR>
  <TD align="right">Re-Type New Password : </TD>
  <TD align="right"><input type="password" name="confNewPassword" onblur="emailMatch();"/></TD>
</TR>
<TR>
  <TD align="center" colspan="2"><input type="submit" name="newPasswordSet" value="Change" /></TD>
</TR>
</TABLE>
</FORM>
</BODY>
<SCRIPT language="javascript">
  document.form1.oldPassword.focus();
</SCRIPT>
